/* Login.css */
* {
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    border: 2px solid #78afe9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 400px;
}

.login-box input {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    height: 55px;
    margin: 5px 0;
    border: 2px solid #007bff;
    border-radius: 5px;
}

.login-box button {
    font-size: 15px;
    width: 100%;
    height: 55px;
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

.login-box text {
    margin-top: 10px;
    display: block;
    color: #555;
}

.checkbox-group {
    display: flex;
    font-size: 12px;
    gap: 10px;
    align-self: flex-start;
    margin: 10px 10px 20px 10px;
    /* 체크박스 간 간격 조정 */
}

.checkbox-group input[type="checkbox"] {
    display: none;
    /* 기본 체크박스 숨기기 */
}

.checkbox-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* 텍스트 드래그 방지 */
    position: relative;
    /* 체크박스 내에서 체크 표시 위치를 조정하기 위해 relative 설정 */
}

.checkbox-group label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
}

.checkbox-group input[type="checkbox"]:checked+label::before {
    background-color: white;
    /* 배경색을 흰색으로 유지 */
    border-color: #007bff;
    /* 테두리 색상 유지 */
}

.checkbox-group input[type="checkbox"]:checked+label::after {
    content: '✔';
    /* 체크 표시 추가 */
    display: block;
    position: absolute;
    top: -1px;
    /* 체크 표시 위치 조정 */
    left: 4px;
    /* 체크 표시 위치 조정 */
    font-size: 14px;
    color: #007bff;
    /* 체크 표시 색상 */
}

.login-links {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.login-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}

.login-links span {
    margin: 0 5px;
    color: #555;
}

.login-links a:hover {
    text-decoration: underline;
}